<%- include('../partials/header') %>

<h1>Sleep Log Details</h1>

<div class="panel">
  <% if (profile.sleepLogs.length > 0) { %>
    <% const sleepLog = profile.sleepLogs[0]; %>
    <div class="sleep-log">
      <h3>Sleep Date: <%= new Date(sleepLog.sleepStart).toLocaleString('en-US', { month: 'short', day: 'numeric', year: 'numeric', hour: 'numeric', minute: 'numeric' }) %></h3>
      <p><strong>Sleep Hours:</strong> <%= sleepLog.sleepDuration.hours %>H:<%= sleepLog.sleepDuration.minutes %>M</p>
      <p><strong>Sleep Quality:</strong> <%= sleepLog.sleepQuality %></p>
      <p><strong>Dreamed:</strong> <%= sleepLog.dreamed ? 'Yes' : 'No' %></p>
      <p><strong>Goal Achieved?</strong> 
        <% if (sleepLog.sleepDuration.hours >= profile.sleepGoal.hours && sleepLog.sleepDuration.minutes >= profile.sleepGoal.minutes) { %>
          &#10004; <!-- Insert a checkmark -->
        <% } else { %>
          X
        <% } %>
      </p>
      <p><strong>Sleep Goal:</strong> <%= profile.sleepGoal.hours %>H:<%= profile.sleepGoal.minutes %>M</p>
    </div>
  <% } else { %>
    <p>No sleep logs available.</p>
  <% } %>
</div>


<!-- Button to create a new dream log -->
<h2>Dreams</h2>
<div class="panel">
<button>
<a href="/profiles/<%= user.profile._id %>/sleeps/<%= sleep._id %>/dreams/new">Add Dream Log</a>
</button>
<table >
    <thead>
      <tr>
        <th>Title</th>
        <th>Action</th>
        <th>Delete</th>
      </tr>
    </thead>
    <tbody>
      <% sleep.dreamLogs.forEach((dream) => { %>
      <tr>
        <td><%= dream.title %></td>
        <td>
          <form action="/profiles/<%= user.profile._id %>/sleeps/<%= sleep._id %>/dreams/<%= dream._id %>" method="GET">
            <button type="submit">Show</button>
          </form>
        </td>
        <td>
            <form action="/profiles/<%=profile._id %>/sleeps/<%= sleep._id %>/dreams/<%= dream._id %>?_method=DELETE" method="POST">
                <button type="submit">Delete</button>
              </form>
        </td>
      </tr>
      <% }) %>
    </tbody>
  </table>
</div>
  
  

<%- include('../partials/footer') %>