<%- include('../partials/header') %>

<h1>Dream Details</h1>

<div class="panel">
  <% const dreamDate = new Date(sleepStart); %>
  <% const formattedDate = dreamDate.toLocaleDateString('en-US', { month: 'short', day: 'numeric', year: 'numeric' }); %>
  <% const tagsString = dream.tags.join(', '); %>
  <h2>Title: <%= dream.title %></h2>
  <p><strong>Date:</strong> <%= formattedDate %></p>
  <p><strong>Tags:</strong> <%= tagsString %></p>
  <p><strong>Summary:</strong> <%= dream.summary %></p>
</div>

<%- include('../partials/footer') %>
